<div class="admin-room-types">
  <%= form_with(model: @room_type, url: local_assigns[:url]) do |f| %>
    <%= f.label :name, t(".name") %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :description, t(".description") %>
    <%= f.text_field :description, class: "form-control" %>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
</div>
