<% provide :title, t("static_pages.home.title") %>

<div class="home-page">
  <div class="container">
    <div class="booking-intro">
      <p><%= t("static_pages.home.welcome_message") %></p>
      <%= link_to rooms_path do %>
        <span><%= t("static_pages.home.bookingnow") %></span>
      <% end %>
    </div>

    <div class="image-thumbnails-container">
      <div class="image-thumbnail">
        <%= image_tag Settings.default.hotel_image, class: "img-fluid" %>
        <p> <%= t("static_pages.home.welcome") %> </p>
      </div>
    </div>
  </div>
</div>
