<% provide :title, t("signup.title") %>

<div class="form-signup">
  <div class="container">
    <h1><%= t("signup.title") %></h1>

    <div class="form">
      <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
        <%= render "users/form", f: f %>

        <div class="actions">
          <%= f.submit t("signup.submit"), class: "btn btn-submit" %>
        </div>
      <% end %>

      <div class="already-account">
        <%= t("signup.already_account") %>
        <%= link_to t("login.login_now"), session_path(resource_name) %>
      </div>
    </div>
  </div>
</div>
