<tr>
  <td><strong><%= room_availability.room_id %></strong></td>
  <td><%= room_availability.room_number %></td>
  <td><%= room_availability.room_type_name %></td>
  <td><%= room_availability.capacity %></td>
  <td>
    <span class="status-badge <%= room_availability.status %>">
      <%= t(".status_#{room_availability.status}") %>
    </span>
  </td>
  <td>
    <span class="price-amount">
      <%= number_to_currency(room_availability.price, unit: "", separator: ".", delimiter: ",") %>
    </span>
  </td>
  <td><%= l(room_availability.available_date, format: :short) %></td>
  <td>
    <%= link_to "#", class: "btn btn-sm btn-outline-primary", title: t(".view") do %>
      <i class="fas fa-search"></i>
    <% end %>
  </td>
</tr>
