<div class="admin-header">
  <nav class="admin-navbar">
    <div class="container-fluid">
      <div class="navbar-brand">
        <%= link_to admin_root_path, class: "brand-link" do %>
          <i class="fas fa-hotel"></i>
          <%= t(".app_text") %> 
        <% end %>
        <%= link_to t("header.home"), root_path, class: "brand-link" %>
        <%= link_to t("header.english"), locale: :en %> |
        <%= link_to t("header.vietnamese"), locale: :vi %>
      </div>
    </div>
  </nav>
</div>
