<h1><%= t("user_mailer.password_reset.title") %></h1>

<p>
  <%= t("user_mailer.password_reset.greeting_reset_password") %>
  <%= t("user_mailer.password_reset.to_reset_password") %>
</p>
<p>
  <%= link_to t("user_mailer.password_reset.edit_password_reset"), edit_password_url(@resource, reset_password_token: @token) %>
</p>
<p>
  <%= t("user_mailer.password_reset.ignore_notice") %>
</p>
