<div class="navbar-header">
  <header class="navbar">
    <div class="container">
      <ul class="nav">
        <li><%= link_to t("header.logo"), home_path, id: "logo" %></li>
        <li><%= link_to t("header.home"), home_path %></li>
        <li><%= link_to t("header.explore"), rooms_path %></li>
        <li><%= link_to t("header.current_booking"), current_booking_bookings_path %></li>
      </ul>
      <ul class="user-controls">
        <li>
          <div class="language-switcher" onclick="window.location.href='<%= url_for(params.permit!.to_h.merge(locale: new_locale)) %>'">
            <i class="fas fa-globe"></i>
          </div>
        </li>
        <li>
          <div class="messages">
            <i class="fa-regular fa-message"></i>
          </div>
        </li>
        <li>
          <div class="notification">
            <i class="fa-regular fa-bell"></i>
          </div>
        </li>
        <% if user_signed_in? %>
          <li>
            <div class="profile">
              <%= link_to edit_user_path(current_user) do %>
                <span><%= current_user.name %></span>
              <% end %>
            </div>
          </li>
        <% else %>
          <li>
            <div class="login">
              <%= link_to t("header.login"), new_user_session_path, class: "btn btn-primary" %>
            </div>
          </li>
          <li>
            <div class="signup">
              <%= link_to t("header.signup"), new_user_registration_path, class: "btn btn-secondary" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </header>
</div>
